:root{
    --sidebarColor: rgb(25,146,212);
    --infoColor: rgb(226,232,240);
    --headerColor: rgb(255,255,255);
    --itemYellow: rgb(240,180,41);
    --whiteFilter: invert(100%) sepia(2%) saturate(0%) hue-rotate(216deg) brightness(106%) contrast(106%);

    --sidebarFontSize: clamp(1rem, 1.2vw, 5rem);
    --sidebarLogoSize: clamp(1rem, 1.2vw, 5rem);

    --homeFontSize: clamp(1.2rem, 1.4vw, 5rem);
    --homeLogoSize: clamp(1rem, 1.2vw, 5rem);
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    min-height: 640px;
    min-width: 1080px;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
}

.sidebar{
    background-color: var(--sidebarColor);
    grid-row: 1/3;
    font-weight: 500;
    
}

.item-group{
    margin-bottom: 50px;
}

.side-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: var(--sidebarFontSize);
    color: white;
    margin-bottom: 20px;
}

.side-item p{
    margin: 0;
}
.side-item img{
    padding-bottom: 2px;
    height: var(--sidebarLogoSize);
    margin-left: 30px;
    filter: var(--whiteFilter);
}

.home-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-size: var(--homeFontSize);
    color: white;
    margin-bottom: 15px;
}

.home-logo img{
    height: var(--homeLogoSize);
    filter: var(--whiteFilter);
    margin-left: 20px;
    padding-bottom: 2px;
}



.header{
    background-color: var(--headerColor);
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.search-bar{
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

.search-logo{
    height: 20px;
    margin-left: 35px;
}

.search-input{
    flex: 1 1 auto;
    border-radius: 20px;
    background-color: var(--infoColor);
    border: 0;
    height: 25px;
    margin-left: 15px;
} 

.account{
    grid-column: 3/5;
    display: flex;
    align-items: center;
    gap: 15px;
}

.account img{
    height: 45px;
    margin-left: 20px;
}

.alarm img{
    height: 20px;
    margin-right: 10px;
}

.alarm{
    align-content: center;
    text-align: end;
}

.welcome-bar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    
}

.welcome-bar img{
    height: 70px;
    grid-row: 1/3;
    align-self:center;
    justify-self: end;
}

.welcome-bar .hello{
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: calc(var(--sidebarFontSize) - .2rem);
    font-weight: 600;
}

.welcome-bar .user-id{
    margin: 0;
    font-size: var(--homeFontSize);
    font-weight: 600;
}

.header button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
    border: 0;
    background-color: var(--sidebarColor);
    color: var(--headerColor);   
}

.info{
    background-color: var(--infoColor);
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.info-section{
    display: grid;
    grid-template-rows: 50px 1fr;
}

.info-section p{
    font-weight: 600;
}

.projects{
    grid-row: 1/3;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card{
    background-color: var(--headerColor);
    height: 200px;
    border-radius: 10px;
}

.card img{
    height: 20px;

}

.announce-info{
    background-color: var(--headerColor);
    border-radius: 10px;
}

.trend-info{
    background-color: var(--headerColor);
    border-radius: 10px;
}